<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cj.music_player" >
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!--程序可以读取设备外部存储空间（内置SDcard和外置SDCard）的文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!--允许程序写入外部存储,如SD卡上写文件-->
	
    <application
        android:name=".MusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="PGYER_APPID"
            android:value="261f670abd73de09ae97826902ace888" >
        </meta-data>
        <activity
            android:name="LogoActivity"
            android:theme="@style/LogoTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".activity.MusicActivity"
            android:launchMode="singleTask"  
            android:theme="@style/MainTheme"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/SearchTheme"
            android:icon="@drawable/search"
            android:label="搜索"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:theme="@style/SettingTheme"
            android:icon="@drawable/setting"
            android:label="设置"/>
        <activity
            android:name=".activity.AlbumImageActivity"
            android:label="专辑图片"
            android:theme="@style/AlbumImageTheme"/>
        <activity
            android:name=".activity.FolderActivity"
            android:theme="@style/FolderTheme"
            android:label="文件夹"/>
        <activity
            android:name=".activity.AlbumActivity"
            android:theme="@style/FolderTheme"
            android:label="专辑"/>
        <activity
            android:name=".activity.ArtistActivity"
            android:theme="@style/FolderTheme"
            android:label="歌手"/>
        <activity
            android:name=".activity.StarActivity"
            android:theme="@style/StarTheme"
            android:label="星级"/>
        <activity 
            android:label="用户反馈"
            android:name="com.pgyersdk.activity.FeedbackActivity">
        </activity>
        
        <service android:name="com.cj.music_player.service.MusicService" />
            
    </application>

</manifest>
